/*
 * SPDX-FileCopyrightText: Copyright (c) 2026 Texas Instruments
 * SPDX-License-Identifier: BSD-3-Clause
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pinctrl/ti-k3-pinctrl.h>

/ {
	aliases {
		eqep0 = &main_eqep0;
	};

	zephyr,user {
		index-gpios = <&main_gpio0_0 23 GPIO_ACTIVE_HIGH>;
	};
};

&main_epwm0 {
	symmetric;
};

&main_gpio0_0 {
	pinctrl-0 = <&main_gpio0_0_23>;
	pinctrl-names = "default";
	status = "okay";
};
