/*
 * Copyright (c) 2026 Texas Instruments Incorporated
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */
#include <zephyr/dt-bindings/gpio/gpio.h>

&uart0 {
	rx-fifo-threshold = <0>;
};

/ {
	chosen {
		zephyr,gui-composer-uart = &uart0;
	};

	aliases {
		sw0 = &btn0;
		sw1 = &btn1;
	};
};
