/*
 * SPDX-License-Identifier: BSD-3-Clause
 *
 * Copyright (c) 2026 Texas Instruments
 */

#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
	zephyr,user {
		pwms = <&main_ecap0 0 0 PWM_POLARITY_NORMAL>;
	};
};
