# SPDX-License-Identifier: Apache-2.0
# OpenOCD configuration for MSPM33C3213 LaunchPad
# TODO: update interface/target scripts when MSPM33 OpenOCD support is available

# source [find interface/cmsis-dap.cfg]
# source [find target/mspm33c3213.cfg]
