# SPDX-FileCopyrightText: 2026 Texas Instruments Incorporated
# SPDX-License-Identifier: BSD-3-Clause

mainmenu "MSPM0 DMA Extended Modes Test"

config DMA_XFER_SIZE
	int "Number of bytes to transfer"
	default 4096

source "Kconfig.zephyr"